.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .carousel {
    flex: 1;
    
  }

  .carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }
  
  .carousel img {
    width: 100%;
    height: auto;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .music-player {
    flex: 0 0 300px;
    
  }
  
  .news-carousel {
    flex: 1;
   
  }