<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-section about">
          <h3>Sobre Nosotros</h3>
          <p>Por escribir</p>
        </div>
        <div class="footer-section links">
          <h3>Enlaces Útiles</h3>
          <ul>
            <li><a routerLink="">Inicio</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Productos</a></li>
            <li><a routerLink="/contacto">Contacto</a></li>
          </ul>
        </div>
        <div class="footer-section contact">
          <h3>Contacto</h3>
          <p>
            <i class="fas fa-envelope"></i> pinedagonzalezeliot@iescamas.es<br>
            <i class="fas fa-phone"></i> 647512347
          </p>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; 2023 Tu Empresa. Todos los derechos reservados.
    </div>
  </footer>
  
