
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
  }
  
  ul li a:hover {
    color: #007BFF;
  }
  
  .footer-section p {
    font-size: 14px;
  }
  
  .footer-bottom {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
  }
  
  .footer-bottom a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-bottom a:hover {
    color: #007BFF;
  }